/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 100px auto clamp(6.25rem, 0.282vw + 6.184rem, 6.438rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-origin), Arial, sans-serif;
  font-variation-settings: "wght" var(--font-weight-card);
  color: var(--accent-color);
  background-color: var(--background-color);
  background:
    var(--background-image)
    fixed
    center / cover;
}

.header {
  inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  background-color: var(--background-color);
  margin: 0 auto;
  font-family: var(--font-family-accent), 'Times New Roman', 'Times', serif;
  font-weight: 400;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  margin-block-end: 20px;
  line-height: 1;
}

.header_text {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
  line-height: 1;
}

.theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.theme-menu__button {
  font-family: var(--font-family-accent), 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: var(--font-weight-card);
  background-color: var(--background-color);
  line-height: 1;
  border: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.theme-menu__button:disabled::before {
  content: '▶';
  /*padding-inline-end: 4px;*/
  color: var(--accent-color);
  opacity: 0.6;
  animation: arrow__movement 0.5s ease-in-out alternate infinite;
  position: absolute;
  inset: auto auto auto -15px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  animation: opasity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  block-size: 2px;
  display: block;
  width: 100%;
  position: absolute;
  background-color: currentColor;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  content: '';
  outline: none;
  display: block;
  width: 100%;
  block-size: 2px;
  scale: 1;
  animation: underline_text 0.3s ease;
}

.main {
  inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background-color: transparent;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card_title {
  font-variation-settings: 'wght' var(--font-weight-card-title);
  font-size: 18px;
  line-height: calc(21.78 / 18);
  padding: 3px 10px;
}

.card_container {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-rows: auto auto auto;*/
  padding: 25px;
  gap: 25px;
}

.image-container {
  position: relative;
  inline-size: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  block-size: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  outline: 2px solid var(--accent-color);
}

.card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-label {
  position: absolute;
  z-index: 1;
  inset: 25px 13px auto auto;
  line-height: 1;
  font-family: var(--font-family-accent), 'Times New Roman', Times, serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px 0 var(--shadow-label-color),
    -1px -1px 0 var(--shadow-label-color),
    -1px 1px 0 var(--shadow-label-color),
    1px -1px 0 var(--shadow-label-color);
  opacity: 70%;
}

.card_filter-multi_1 {
  filter: saturate(180%) grayscale(0.2);
}

.card_filter-saturate {
  filter: saturate(130%);
}

.card_filter-grayscale {
  filter: grayscale(0.7);
}

.card_filter-blur {
  filter: invert(1);
}

.card_filter-sepia {
  filter: sepia(40%)
}

.card_filter-hue {
  filter: hue-rotate(180deg);
}

.card_filter-multi_2 {
  filter: sepia(20%) contrast(70%);
}


@supports((text-stroke: 1px var(--shadow-label-color)) or (-webkit-text-stroke: 1px var(--shadow-label-color))) {
  .image-label {
      -webkit-text-stroke: 1px var(--shadow-label-color);
      text-stroke: 1px var(--shadow-label-color);
      text-shadow: none;
  }
}

.card_text {
  font-weight: var(--font-weight-card);
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.7px;
}

.card_text:first-child {
  padding-inline-end: 5px;
}

.card_like-container {
  display: flex;
  justify-content: flex-end;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  gap: 12px;
  align-items: center;
}

.button {
  display: inline-block;
  font-family: var(--font-family-accent), 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: var(--font-weight-card);
  line-height: calc(12.6 / 14);
  letter-spacing: 0em;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  padding-block: 11.5px;
  overflow: hidden;
  position: relative;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  animation: button_shadow 0.3s ease;
}

.save-button {
  padding-block: 15px;
  /*padding: 15px 19px 15px 20px;*/
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.save-button .save-button-image {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {
  .save-button .save-button-image {
    width: 28px;
    height: 28px;
  }
}
.button__text {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.card__button {
  inline-size: 130px;
  block-size: 38px;
  display: inline-block;

}

.button::after {
  content: '';
  display: inline-block;
  scale: 1;
  transform: translate(-100%);
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  z-index: 0;
  background-blend-mode: difference;
}

.button:hover {
  color: var(--button-hover-color);
  transition: color 0.5s linear;
  background-blend-mode: difference;
  cursor: pointer;
}

.button:hover .save-button-image {
  fill: var(--button-hover-color);
  transition: fill 0.5s linear;
  background-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.button:hover::after {
  animation: button_rectangle 0.5s ease-in-out /*forwards*/;
  cursor: pointer;
  scale: 1;
  transform: translate(0);
  background-blend-mode: difference;
}

.card__icon-button {
  border: none;
  outline: none;
  background-color: var(--background-color);
  padding: 0;
  display: flex;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;

  border: 2px solid var(--accent-color);
  animation: button_border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.dialog_title {
  font-family: var(--font-family-accent), 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: var(--font-weight-card);
  text-transform: uppercase;
  line-height: calc(21 / 14);
}

.dialog[open] {
  padding: 30px 42px;
  inline-size: clamp(21.313rem, 3.192vw + 20.564rem, 23.438rem);
  min-block-size: 195px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  display: grid;
  grid-template-columns: 39px auto;
  gap: 20px;
  align-items: center;
}

.dialog-content {
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.dialog-form {
  inline-size: 100%;
}

.dialog__button {
  inline-size: 257px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}



