/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-family-origin: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-card: 465;
  --font-weight-card-title: 785;
  --background-color: #000;
  --accent-color: #00cc14;
  --gradient-color-1: #000;
  --gradient-color-2: transparent;
  --gradient-color-3: #007f0c;
  --gradient-color-4: #004306;
  --shadow-label-color: rgba(0, 0, 0, 0.6);
  --like-icon-contour: #00cc14;
  --like-icon-filling: #ff0000;
  --button-hover-color: #000;
}

:root.theme-light {
  --font-family-origin: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-card: 400;
  --font-weight-card-title: 700;
  --background-color: #fff;
  --background-image:
    repeating-linear-gradient(90deg, var(--gradient-color-1) 0 2px, var(--gradient-color-2) 2px 4px),
    repeating-linear-gradient(180deg var(--gradient-color-1) 0 2px, var(--gradient-color-2) 2px 4px),
    linear-gradient(var(180deg --gradient-color-3), var(--gradient-color-4));
  --accent-color: #000;
  --gradient-color-1: #d3d3d3;
  --gradient-color-2: transparent;
  --gradient-color-3: #e7e7e7;
  --gradient-color-4: #1a1a1a;
  --shadow-label-color: rgba(255, 255, 255, 0.6);
  --like-icon-contour: #000000;
  --like-icon-filling: #ff0000;
  --button-hover-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
  --font-family-origin: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-card: 465;
  --font-weight-card-title: 785;
  --background-color: #000;
  --accent-color: #00cc14;
  --gradient-color-1: #000;
  --gradient-color-2: transparent;
  --gradient-color-3: #007f0c;
  --gradient-color-4: #004306;
  --shadow-label-color: rgba(0, 0, 0, 0.6);
  --like-icon-contour: #00cc14;
  --like-icon-filling: #ff0000;
  --button-hover-color: #000;
  }
}
